<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 1.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.4 0.4" />
            </geometry>
            <material name="Green">
            <color rgba = "0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.4 0.4" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.2 0 1.5" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.2405759500151972 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2405759500151972 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4811519000303944 0.391325152418673 0.3659211246361931" />
            </geometry>
            <material name="Green">
            <color rgba = "0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2405759500151972 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4811519000303944 0.391325152418673 0.3659211246361931" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.040575950015197176 -0.1956625762093365 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 -0.20801210792212246 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.20801210792212246 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.20002610161707268 0.4160242158442449 0.5879930786552792" />
            </geometry>
            <material name="Blue">
            <color rgba = "0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.20801210792212246 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.20002610161707268 0.4160242158442449 0.5879930786552792" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.10001305080853634 -0.012349531712785966 0.0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.14390192783914485 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.14390192783914485 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2878038556782897 0.460568824441156 0.475045753097653" />
            </geometry>
            <material name="Green">
            <color rgba = "0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.14390192783914485 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2878038556782897 0.460568824441156 0.475045753097653" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.04388887703060851 0.230284412220578 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0.20561089423931606 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.20561089423931606 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2036731975403062 0.4112217884786321 0.5594984989657981" />
            </geometry>
            <material name="Blue">
            <color rgba = "0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.20561089423931606 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2036731975403062 0.4112217884786321 0.5594984989657981" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.0 -0.02467351798126194 -0.27974924948289903" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0 -0.2914366206251351" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.2914366206251351" rpy="0 0 0"/>
            <geometry>
                <box size="0.21989113488641845 0.46409803541975864 0.5828732412502702" />
            </geometry>
            <material name="Green">
            <color rgba = "0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.2914366206251351" rpy="0 0 0"/>
            <geometry>
                <box size="0.21989113488641845 0.46409803541975864 0.5828732412502702" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-0.10994556744320923 0.0 -0.011687371142236058" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="-0.10213252858492385 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.10213252858492385 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2042650571698477 0.4243290045337424 0.4171029596340328" />
            </geometry>
            <material name="Blue">
            <color rgba = "0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.10213252858492385 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2042650571698477 0.4243290045337424 0.4171029596340328" />
            </geometry>
        </collision>
    </link>
</robot>