<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 1.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.4 0.4" />
            </geometry>
            <material name="Green">
            <color rgba = "0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.4 0.4" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.2 0 1.5" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.102891282205903 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.102891282205903 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.205782564411806 0.23440397607553126 0.43823788877908365" />
            </geometry>
            <material name="Green">
            <color rgba = "0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.102891282205903 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.205782564411806 0.23440397607553126 0.43823788877908365" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.09710871779409701 -0.11720198803776563 0" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 -0.24308804523177935 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.24308804523177935 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.22956898028687342 0.4861760904635587 0.4206069452899144" />
            </geometry>
            <material name="Blue">
            <color rgba = "0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.24308804523177935 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.22956898028687342 0.4861760904635587 0.4206069452899144" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.0 -0.12588605719401372 0.2103034726449572" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 0 0.3089991061802483" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.3089991061802483" rpy="0 0 0"/>
            <geometry>
                <box size="0.23728895860891028 0.40804435751073687 0.6179982123604966" />
            </geometry>
            <material name="Blue">
            <color rgba = "0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.3089991061802483" rpy="0 0 0"/>
            <geometry>
                <box size="0.23728895860891028 0.40804435751073687 0.6179982123604966" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.4076947397155394" />
       <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0 0.29259740707270093" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.29259740707270093" rpy="0 0 0"/>
            <geometry>
                <box size="0.23772113758391314 0.47375330753999595 0.5851948141454019" />
            </geometry>
            <material name="Blue">
            <color rgba = "0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.29259740707270093" rpy="0 0 0"/>
            <geometry>
                <box size="0.23772113758391314 0.47375330753999595 0.5851948141454019" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.11886056879195657 0.0 -0.016401699107547074" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.12062605613528991 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.12062605613528991 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24125211227057983 0.4018474350034978 0.609335347460261" />
            </geometry>
            <material name="Blue">
            <color rgba = "0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.12062605613528991 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24125211227057983 0.4018474350034978 0.609335347460261" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-0.12239154347862326 0.0 0.0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="-0.14043603906164595 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.14043603906164595 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2808720781232919 0.4554224636750253 0.4645391610055529" />
            </geometry>
            <material name="Green">
            <color rgba = "0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.14043603906164595 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2808720781232919 0.4554224636750253 0.4645391610055529" />
            </geometry>
        </collision>
    </link>
</robot>